# Python
__pycache__/
*.pyc
venv/
.env
*.pkl

# Java
target/
*.jar
*.war
*.log
.mvn/

# IDE
.vscode/
.idea/
*.swp

# Docker
*.log
# Allow maven-wrapper.jar for CI
!backend_service/.mvn/wrapper/maven-wrapper.jar
# Allow maven-wrapper.jar for CI
